li {
    list-style: none;
}



.nav__menu-left-container {
    position: absolute;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    width: 260px;
    height: 100%;
    transform: translateX(-69%);
    transition: transform linear 0.2s;
    overflow: hidden;
    box-shadow: 1px 1px gray;
    position: fixed;
}

.nav__content{
    transform: translateX(72%);
    transition: transform linear 0.2s;
}
/* 
.nav__content:hover{
    transform: translateX(0%);
}

.nav__menu-left-container:hover {
    transform: translateX(0%);
} */

.nav__user-list {
    margin: 18px;
}

.nav__logo {
    margin: 18px;
}

.nav__list {
    margin: 18px;
}

summary {
    color: white;
}

.nav__content hr {
    color: white;
}

.nav__logo nav {
    display: inline-block;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.nav__logo img {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.dropdown-menu a {
    color: white;
}

.nav__user-list nav {
    font-size: 16px;
    color: white;
    display: inline-block;
}

#nav__dropdown-icon {
    position: absolute;
    right: 25px;
}

.icon_img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 5px;
}

#user_icon {
    width: 30px;
    height: 30px;
}

.nav__content div {
    height: 40px;

}

.nav__hover {
    color: white;
    margin: 5px;
}

.nav__hover:hover {
    background-color: rgba(255, 255, 255, 0.5);
}




.nav__menu-left-container-2 {
    position: absolute;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100px;
    height: 100%;

}

a{
    text-decoration: none !important;
}
